accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
gradio
sentencepiece
loguru
flask
pandas
scikit-learn
tqdm
numpy
wandb
google-api-python-client
scipy
torch
torchvision
transformers==4.38.2

peft==0.9.0
trl
flock_sdk
boto3
rarfile

# for model host
fire
gradio
