accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
gradio
sentencepiece
loguru
flask
pandas
scikit-learn
tqdm
numpy
